.home-header {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(2px + 2vmin);
}
/* home navi */
.home-nav {
  float: right;
  list-style: none;
  margin-top: 25px;
}

.home-nav li {
  display: inline-block;
  margin-left: 40px;
  cursor: pointer;
}

.home-nav li a:link,
.home-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50%;
    border: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.home-nav li a:hover,
.home-nav li a:active {
  border-bottom: 2px solid #a67e22;
}
