.page2-content {
  display: flex;
  justify-content: space-between;
}

.tile-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.tile-content button {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(20, 75, 75);
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}