.section2-content {
  display: flex;
  justify-content: space-around;
}

progress[value] {
  width: 250px;
  height: 4px;
  /* Reset the default appearance */
  /* -webkit-appearance: none;
   appearance: none;

 
  background-color: #f3f3f3; */
}

.stat-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.progress--1:after {
  background-color: #f3f3f3;
  color: rgb(5, 41, 107);
}
.progress--2 {
  color: darkmagenta;
}
.progress--3 {
  color: darkred;
}
.progress--4 {
  color: greenyellow;
} 

.stats {
  flex-basis: 40%;
  margin-right: 10px;
}

.form-data {
  flex-basis: 40%;
}

form {
  padding: 1em;
  background: #f9f9f9;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: #166DD7;
  color: white;
  padding: 0.7em;
  border: 0;
  cursor: pointer;
}

input {
  width: 90%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

.error {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}
